.cart-container {
    width: 100%;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    

}

table {
    width: 100%;
    height: auto;
    
}
th {
    background-color: black;
    width: 33%;
    height: 45px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: rgb(255, 172, 46) solid 10px;
}
td {
    width: 33%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-bottom: white solid 1px;
}
.btn {
    margin: 25px 50px 25px 50px !important;
    
}