.cart-container {
    background-color: rgba(34, 34, 34, 0.596);
    border-radius: 10px;
    width: 100%;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    

}

table {
    width: 100%;
    height: auto;
    
}
th {
    background-color: black;
    width: 33%;
    height: 45px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: rgb(255, 172, 46) solid 10px;
}
td {
    width: 33%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-bottom: white solid 1px;
}
.btn {
    margin: 25px 50px 25px 50px !important;
    
}

.btn-remove {
    margin: 0px 20px 0px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 1px 2px 2px rgb(39, 39, 39);
    background: linear-gradient(to top,hsl(327, 57%, 60%),hsl(19, 100%, 60%));
    width: 40px;
    padding: 2px 5px 2px 5px;
    direction: none;
    border: none;
    border-radius: 5px;
}
.btn-remove:hover {
    transform: scale(1.02);
    background: linear-gradient(to top,hsl(327, 57%, 41%),hsl(19, 100%, 54%));
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.90) !important;
}