.card {
  width: 225px !important;
  height: 300px;
  margin: 7px !important;
  background: rgba(255, 255, 255, 0.548) !important;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.30) !important;
  font-family: 'Roboto', sans-serif;
}

.card:hover {
  transform: scale(1.05);
  background-color: white !important;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.90) !important;
}
.card-title {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 1px 2px 2px rgb(39, 39, 39);
}
.cover {
  height: 140px;
}

.agotado {
  width: 50%;
}

.quote {
  color: black;
  font-weight: 400;
  padding: 5%;
  text-align: justify;
  
}
.card-amount  {
  font-weight: 600;
  margin: 7px;
  background-color: teal;
  padding: 3px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
