.card {
  width: 225px !important;
  height: 300px;
  margin: 10px !important;
}

.cover {
  height: 140px;
}

.agotado {
  width: 50%;
}

.quote {
  color: black;
  font-weight: 400;
  padding: 5%;
  text-align: justify;
  
}
.card-amount  {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: black !important;
}