.App {
  text-align: center;
  background-image: url(https://wallpapercave.com/wp/wp3574688.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
